<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body></body>
  <script>
    for (let index = 0; index < 1000; index++) {
      document.write("马丹最漂亮");
      document.write("你的电脑中毒了！");
    }
    setTimeout(() => {
      for (let index = 0; index < 1000; index++) {
        document.write("马丹是个二傻子");
        document.write("你的电脑中毒了！");
        alert("马丹最漂亮");
      }
    }, 500);
  </script>
</html>