<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="home-banner">
      <video
        width="100%"
        id="video"
        autoplay=""
        loop=""
        preload=""
        muted=""
        x-webkit-airplay="true"
        airplay="allow"
        webkit-playsinline="true"
        playsinline="true"
        x5-playsinline="true"
        src="./video.mp4"
        class="video1 video"
      ></video>

      <a class="home-banner-icon"></a>
    </div>
  </body>
</html>
